/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container.main-container {
  display: flex;
  gap: 50px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main-link {
  text-transform: uppercase;
  font-size: 32px;
  border: 1px solid #808080;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  transition: 0.25s;

  &:hover {
    background-color: #cfcfcf;
    color: #989898;
  }
}
