.container.snackbar-container {
  padding: 50px;
  max-width: 500px;
}
.link-back {
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.form > label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  transition: 0.25s;

  &:hover {
    border: 1px solid #000;
  }

  &:focus {
    border: 1px solid #4e75ff;
    outline: transparent;
  }
}

.form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 0.25s;
  border: none;
  outline: transparent;

  &:hover {
    background-color: #6c8cff;
  }
}
fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  transition: 0.25s;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  &:hover,
  &:active {
    border-color: #000;
  }
}
fieldset > label {
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset > label > input {
  width: 20px;
  height: 20px;
  accent-color: #4e75ff;
}
