.container.timer-container {
  padding: 50px;
  display: grid;
  grid-template-areas:
    'link link'
    'input button'
    'timer timer';
  font-family: 'Montserrat', sans-serif;
  gap: 32px 8px;
  align-items: center;
}
.link-back {
  background-color: #4e75ff;
  display: block;
  padding: 8px 16px;
  grid-area: link;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 6px;
  color: #fff;
  transition: 0.25s;

  &:hover {
    background-color: #cfcfcf;
    color: #989898;
  }
}
.container.timer-container input {
  grid-area: input;
  min-width: 272px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: 2px solid #808080;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;

  &:disabled {
    pointer-events: none;
    cursor: none;
  }
}
.container.timer-container button {
  grid-area: button;
  width: 75px;
  border-color: transparent;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: 0.25s;

  &:hover {
    background-color: #6c8cff;
  }

  &:disabled {
    background-color: #cfcfcf;
    color: #989898;
    pointer-events: none;
    cursor: none;
  }
}
.timer {
  grid-area: timer;
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  text-transform: uppercase;
  line-height: 1.5;
  color: #2e2f42;
}
.iziToast > .iziToast-close {
  background: url('../img/toast/bi_x-lg.png') no-repeat 50% 50% !important;
  opacity: 1 !important;
}

.flatpickr-day.today {
  border-color: #4e75ff !important;
}
